<% provide(:title, "BarCVVR Boisson "+params[:id]) %>

<p id="notice"><%= notice %></p>

<table class="mdl-data-table mdl-js-data-table" id="infoTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @drink.name %></td>
      <td><%= @drink.drink_type %></td>
      <td><%= @drink.price %></td>
    </tr>
  </tbody>
</table>
