<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.firstName %>,</h1>
    <p>Ton mot de passe est le suivant : <%= @user.password_digest %></p>
    <p>Tu peux de nouveau payer ta bière !</p>
  </body>
</html>
