<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.firstName %>,</h1>
    <h3>ARGENT ARGENT ARGENT !</h3>
    <p>Ton compte bar est en négatif !</p>
  </body>
</html>
