<% provide(:title, "BarCVVR Plat "+params[:id]) %>

<table class="col s12 l7 centered highlight striped" id="infoTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @food.name %></td>
      <td><%= @food.price %></td>
    </tr>
  </tbody>
</table>

<script>
  <% if notice %>
  Materialize.toast('<%= notice %>', 4000) // 4000 is the duration of the toast
  <% end %>
</script>
