<p id="notice"><%= notice %></p>

<table class="mdl-data-table mdl-js-data-table" id="infoTable">
  <thead>
    <tr>
      <th>Date</th>
      <th>Somme</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @operation.date %></td>
      <td><%= @operation.sum %></td>
      <td><%= @operation.user_id %></td>
    </tr>
  </tbody>
</table>
